#Bgimg{
  background-image: url(image/Bg.png);
  background-position:center;
  background-size: cover;
  background-attachment: fixed;
  
}

#bgimg2{
  background-image: url(image/bgimg2.png);
  background-repeat: no-repeat;
  background-size: cover; 
  background-attachment: fixed;
}

#bgimg3{
  background-image: url(image/pattern.png);
  
}


.plat{
  display: inline-block;
}

.plat2{
  display: inline-block;
}

.plat1{
  display: inline-block;
}

#Background{
  background-image: url(image/Background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
  min-height: 500px;
}

.ombre{
background: rgba(8, 8, 8, 0.8);

}

.ombre1{
background: rgba(8, 8, 8, 0.5);

}

.foodt{
  font-size: 90px;
  color: #ffffff;
  font-family: "Yeseva One";
  font-weight: 400;
  filter: drop-shadow(0.469px 0.883px 1px rgba(1,1,1,0.64));
}

.text{
  
  color: #c89f2d;
  font-size: 38px;
}

.prix{
  
  color: #c89f2d;
  font-size: 21px;
  font-family: "Yeseva One";
}

.titre{
  color: #c89f2d;
  font-size: 36px;
  font-family:"Yeseva One";
}

.btn{
  color: white;
  background-color: #c89f2d;
}

.textingrdient{
  color: #c89f2d;
  font-size: 31px;
  font-family: "Yeseva One";
  font-weight: 400;
}

.btn1{
width: 200px;
height: 57px;
background-color: rgba(0,0,0,0.7019607843137254);
border: 1px solid #000000;
color: white;
}

.btn2{

  width: 200px;
height: 57px;
background-color: rgba(255,255,255,0.2784313725490196);
border: 1px solid #ffffff;
color:white
}

.special span {
  width: 69px;
  height: 22px;
  background-color: #c89f2d;
  color:white
  
}

.gold{
  color: #dab33e;
  
}

.box{
  color:white;
  font-size: 36px;
  font-family: "Lato", sans-serif;
}

@media (max-width: 600px) {
  .plat2{
display: none; 
  }
  .foodt{
    font-size: 32px;
  }
  .textingrdient{
    font-size:22px;
    }
    .prix{
      font-size:18px;
    }
  
}
.icon-social{
  display:inline;
}


.p{
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

.fingredients{
  font-family: "Yeseva One";
  font-size: 36px;
}

.guest{
  font-family: "Gentium Book Basic", serif;
  font-size: 25px;
}
.fabout{
  color:white;
  font-family: "Yeseva One";
  font-size: 21px;
}
.pabout{
  color:white;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

